/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NUMBERS 1
#define GAMING  2
#define ARROWS  2
#define NAVI    3

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   | BKSP  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | BT_SEL 0|  BT_PRV |  | BT_NXT  | BT_SEL 1|  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | CTRL | ALT  | CMD  |  SPACE  |   NUM   |  |   RET   |  SPACE  | NUM  | ALT   | CTRL  |
			bindings = <
	&lt NAVI ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BKSP
	&mt LCTRL TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &bt BT_SEL 0 &bt BT_PRV		&bt BT_NXT &bt BT_SEL 1 &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	                 &kp LCTRL &kp LALT &kp LCMD &lt ARROWS SPACE &lt NUMBERS RET    &lt NUMBERS RET &lt ARROWS SPACE  &kp RCMD &kp RALT &kp RCTRL
			>;
		};
		numbers_layer {
// . means trans!
// ---------------------------------------------------------------------------------------------------------------------------------
// |  `  |   !   |   @   |   £   |   $   |   %   |                               |   ^   |   &   |   *   |   (  |   )   |  -  |
// |  .  |   1   |   2   |   3   |   4   |   5   |                               |   6   |   7   |   8   |   9  |   0   |  =  |
// |  .  |   ¡   |   €   |   #   |   ¢   |   .   |  .  | .  |       |  .  |  .   |   {   |   }   |   [   |   ]  |   \   |  .  |
//                       |   .   |   .   |   .   |  .  | .  |       |  .  |  .   |   .   |   .   |   .   |
			bindings = <
	&lt NAVI GRAVE	&kp LS(N1)	&kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5)					&kp LS(N6) &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(N0) &kp MINUS
	&trans		&kp N1		&kp N2	   &kp N3	  &kp N4	 &kp N5						&kp N6	   &kp N7	  &kp N8	 &kp N9		&kp N0	   &kp EQUAL
	&trans		&kp LA(N1)	&kp LA(N2) &kp LA(N3) &kp LA(N4) &kp LA(N5) &trans &trans 	&trans &trans &kp LBRC &kp RBRC &kp LBKT &kp RBKT &kp BSLH &trans 
					&trans &trans &trans &trans &trans 							&trans &trans &trans &trans &trans 

			>;
		};
		gaming_layer {
// . means trans!
// ---------------------------------------------------------------------------------------------------------------------------------
// |  .  |   1   |   Q   |   J   |   E   |   .   |                               |   .   |  HOME  |   .    | PG_UP | C_VOL_UP | C_NEXT |
// |  .  |   2   |   A   |   W   |   D   |   .   |                               |   .   |  LEFT  |   UP   | RIGHT |  K_MUTE  | C_PP   |
// |  .  |   3   |   Z   |   S   |   X   |   .   |  .  | .  |       |  .  |  .   |   .   |  END   |  DOWN  | PG_DN | C_VOL_DN | C_PREV |
//                       |   .   |   .   |   .   |  .  | .  |       |  .  |  .   |   .   |   .    |   .    |
			bindings = <
	&trans		&kp N1		&kp Q	   &kp J	  &kp E	 &trans									&trans	   &kp HOME	  &trans	 &kp PG_UP	&kp C_VOL_UP	&kp C_NEXT
	&trans		&kp N2		&kp A	   &kp W	  &kp D	 &trans									&trans	   &kp LEFT	  &kp UP	 &kp RIGHT	&kp K_MUTE		&kp C_PP
	&trans		&kp N3		&kp Z	   &kp S	  &kp X	 &trans	&trans &trans	&trans &trans	&trans	   &kp END	  &kp DOWN	 &kp PG_DN	&kp C_VOL_DN	&kp C_PREV
					&trans &trans &trans &kp SPACE &kp RET 							&kp RET &kp SPACE &trans &trans &trans 
			>;
		};
		navi_layer {
// . means trans!
// ---------------------------------------------------------------------------------------------------------------------------------
// |  .  |DEFAULT|NUMBERS| ARROWS|   .   |   .   |                                 |   .   |   .   |   .   |   .  |   .   |OUT_BLE|
// |  .  |DEFAULT|   .   |DEFAULT|   .   |GAMING |                                 |   .   | GAMING| GAMING|GAMING|   .   |   .   |
// |  .  |   .   |   .   |   .   |   .   |   .   |  .  | BT_CLR |  | EP_OFF| EP_ON |   .   |   .   | GAMING|   .  |   .   |   .   |
//                       |   .   |   .   |   .   |  D  | .  |      |   .   |   D   |   .   |   .   |   .   |
			bindings = <
	&trans		&to DEFAULT	&to NUMBERS &to ARROWS &trans	 &trans						&trans	   &trans	  &trans	 &trans		&trans	   &out OUT_BLE
	&trans		&to DEFAULT	&trans	   &to DEFAULT &trans	 &to GAMING					&trans	   &to GAMING &to GAMING &to GAMING	&trans	   &trans
	&trans		&trans		&trans	   &trans	  &trans	 &trans	&trans &bt BT_CLR	&ext_power EP_OFF  &ext_power EP_ON &trans	 &trans		&to GAMING	   &trans	&trans	&trans 
					&trans &trans &trans &to DEFAULT &trans 							&trans &to DEFAULT &trans &trans &trans 
			>;
		};
	};
};
